:root {
  --main-color: #0077b6; /* Change the main color to a teal shade */
}

body {
  font-family: "Roboto", sans-serif; /* Change the font family to Roboto */
  overflow: auto; /* Revert overflow to its default value */
  background-color: #f0f0f0; /* Set a light gray background color */
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

header {
  background: var(--main-color);
  color: #ffffff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Add a subtle box shadow */
}

#realresults {
  color: #222; /* Darken text color */
  width: 80%;
  margin: auto;
}
.flex-score{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lets_start input[type="text"] {
  width: 50%;
  margin-top: 20px; /* Adjust margin */
  padding: 0.5em 0;
  color: #222;
  border: none;
  border-bottom: 2px solid #222;
  border-radius: 5px;
  background: #f9f9f9; /* Lighten the background color */
  font-weight: 400;
  font-size: 16px; /* Reduce font size */
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

.btn-start {
  background: #0077b6;
  color: #fff;
  border: 2px solid #222; /* Increase border width */
  padding: 14px; /* Increase padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Add a subtle box shadow */
  border-radius: 10px;
}
.btn-start:hover {
  background-color: #4e3636;
}
.lets_start,
.started,
.rules {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  border-radius: 10px;
  width: 80%;
  margin: auto;
  padding: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.intermediate {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
  width: max-content;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.currect_ans,
.wrong_ans {
  color: white;
  border-radius: 10px;
  width: max-content;
  padding: 5px 15px;
  margin: auto;
  margin-top: -45px;
}
.wrong_ans {
  background-color: rgb(255, 109, 109);
}
.currect_ans {
  background-color: rgb(82, 255, 96);
}
#finalresult{
  text-align: center;
  font-size: 83px;
  font-family: emoji;
}
.intermediate,
#finalresult_show{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.choices{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
  color: black;
}
.choices button {
  background: #fff;
  color: #222;
  border: 2px solid #222; /* Increase border width */
  border-radius: 8px; /* Reduce border radius */
  font-size: 16px;
  padding: 14px;
  min-width: 180px; /* Reduce width */
  min-height: 40px; /* Reduce height */
  margin-top: 30px; /* Adjust margin */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

.choices button:hover {
  box-shadow: 2px 2px 5px #ccc; /* Add a subtle box shadow on hover */
  background: #222;
  color: #fff;
}

.loading-page .counter p {
  font-size: 32px; /* Reduce font size */
  color: #f60d54;
}

.loading-page .counter h3 {
  color: #222;
  position: fixed;
  bottom: 10px; /* Adjust position */
  left: 5%;
}

.loading-page .counter hr {
  background: #222;
  height: 4px; /* Adjust height */
  position: fixed;
  bottom: 0;
  left: 0;
}
.btn-play,
#saveStats,
#redirect {
  padding: 14px 28px; /* Adjust button padding */
  margin-bottom: 30px; /* Adjust margin at the bottom */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Add a subtle box shadow */
  cursor: pointer;
}
